.highlight:hover {
  background-color: #e3e3e3;
}

.header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  justify-content: space-between;
}

.hero {
  /* background-color: #25262A; */
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  background-image: url(/hero.png);
}

.hero-text {
  color: white;
  margin-bottom: 6rem;
}
