@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight:hover {
  background-color: #e3e3e3;
}

.header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 8rem;
  margin-right: 8rem;
  display: flex;
  justify-content: space-between;
}

.hero {
  padding-top: 2rem;
  padding-left: 8rem;
  padding-right: 8rem;
  min-height: 18rem;
  background-color: #25262A;
}

.hero2 {
  min-height: 18rem;
  background-color: #25262A;
}

.hero-text {
  color: white;
  margin-bottom: 5rem;
  font-size: 2rem;
  font-weight: bold;
}

.logo{
  background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(9,9,121,1) 63%, rgba(39,48,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.opacity-effect{
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(-0deg, rgba(0,0,0,1), rgba(0,0,0,0.6));
}

.header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 8rem;
  margin-right: 8rem;
  display: flex;
  justify-content: space-between;
}

.section {
  padding-top: 2rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  margin-right: 1.5rem;
  margin-top: 1rem;
  max-width: 20rem;
  min-height: 20rem;
}

.grey-card{
  background-color: #E2E8F0;
  border-radius: 10px;
  padding: 1rem;
}

h1 {
  font-size: 1.7rem;
  font-weight: bold;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

h3 {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

h4 {
  font-size: 0.5rem;
  font-weight: bold;
  margin-bottom: 0.15rem;
}

.proposal-card-list {
  display: flex;
  flex-wrap: wrap;
}

.proposal-card {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  margin-right: 1.5rem;
  min-width: 25rem;
}

.inactive-card {
  opacity: 30%;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/satoshi/Satoshi-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.font-satoshi {
  font-family: 'Satoshi', sans-serif;
}